name: Build and Push to Registry

on:
  push:
    branches:
      - main
      - feature/Deploy
  workflow_dispatch:

jobs:
  build-database:
    name: Build and Push Database
    uses: .github/workflows/templates/docker-build-push-template.yml
    with:
      registry: ${{ vars.REGISTRY_URL }}
      image_tag: ${{ vars.REGISTRY_URL }}/discount-scraper-db:latest
      context: database
      dockerfile: Dockerfile
      runner: shelly
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
  
  build-scraper:
    name: Build and Push Scraper API
    uses: .github/workflows/templates/docker-build-push-template.yml
    with:
      registry: ${{ vars.REGISTRY_URL }}
      image_tag: ${{ vars.REGISTRY_URL }}/discount-scraper-api:latest
      context: scraper
      dockerfile: Dockerfile
      runner: shelly
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
  
  build-web:
    name: Build and Push Web
    uses: .github/workflows/templates/docker-build-push-template.yml
    with:
      registry: ${{ vars.REGISTRY_URL }}
      image_tag: ${{ vars.REGISTRY_URL }}/discount-scraper-web:latest
      context: web
      dockerfile: Dockerfile
      runner: shelly
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
