name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  WORK_DIR: /home/admin/services

jobs:
  setup:
    runs-on: raspberrypi
    steps:
      # Add steps that stops the services running
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{ env.WORK_DIR }}

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20.11.1"

      - name: Install dependencies and compile
        env:
          LOG_LEVEL: "INFO"
          DB_PRODUCT: "./database/Product.json"
          DB_DISCOUNT: "./database/Discount.json"
          SUPERMARKET_WEB_CONFIG_SCHEMA: "./config/supermarketWebConfigSchema.json"
          NOTION_SECRET: ${{ secrets.NOTION_SECRET }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
        run: bash ./init.sh
        working-directory: ${{ env.WORK_DIR }}
        
  deploy:
    needs: setup
    runs-on: respberrypi
    strategy:
      matrix:
        config_name: [ah, dirk, plus] # List all your configurations here
    steps:
      - name: Deploy with Specific Config
        run: bash deploy.sh ${{ matrix.config_name }}
        working-directory: ${{ env.WORK_DIR }}
